/* ===========================================================
 * Version: 0.1
 * Author: authors@1dece.ro
 *
 * Contents
 *
 * 1   General
 * 1.1 Colors
 * 2.  Top part
 * 3.  Left Sidebar
 * 3.1 Statistics
 * 4.  Top Sidebar
 * 5.  Hora container
 * 5.1 Characters
 * =========================================================== */

@charset "utf-8";
/* CSS Document */

html, body{width:100%;height:100%;margin:0;padding:0;}
html {background: #FFFFFF;}
body {position:relative;}
button:focus {
    outline: none;
}

h1,h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 24px;
    color: #ed6e6e;
    margin: 0;
}

h2 {
    font-size: 14px;
    color: #678e99;
}

h3 {
    font-family: 'Open Sans', serif;
    font-weight: 700;
    font-size: 22px;
    color: #678e99;
    font-style: normal;
    text-align: center;
}

#main {
    transition: all 1s;
    /*browser specific versions*/
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

/***************** */
/*** 1.1 Colors ***/
/*************** */

.red    {background: #ed6e6e;}
.yellow {background: #e1c65c;}
.blue   {background: #a2c5cf;}

.active-gender.red,
a.red:hover    {background: #b74848;}

.active-gender.blue,
a.blue:hover   {background: #678e99;}

.link {
    color: #ed6e6e;
    text-decoration: none;
}

.link:hover {
    color: #b74848;;
}



/****************** */
/*** 2. Top part ***/
/**************** */

#top-part {
    height: 460px;
    background: #FFFFFF;
    display: block;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

#flagholder { 
    margin: 0 0 24px 0; 
}

#flagholder div {
    height: 5px;
    display: block;
    width: 100%;

    -moz-animation-name: flagColors;
    -moz-animation-iteration-count: once;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1.2s;

    -webkit-animation-name: flagColors;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1.2s;
}

@-moz-keyframes flagColors {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes flagColors {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.action-buttons {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    width: 405px;
}

.action-buttons a,
.action-buttons span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #f3f3e8;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.join-hora {
    position: relative;
    display: inline-block;
    padding: 18px 46px 18px 77px;
}

.start-hora {
    position: relative;
    display: inline-block;
    padding: 18px 38px 18px 74px;
}

.pause-hora {
    position: relative;
    padding: 18px 32px 18px 78px;
}

.pause-hora i,
.join-hora i,
.start-hora i {
    font-size: 36px;
    position: absolute;
    left: 27px;
    top: 10px;
}

.button-spacer {
    display: none;
    border-radius: 50%;
    padding: 6px;
    position: absolute;
    top: 12px;
    left: 186px;
    z-index: 10;
}

.sidebar-buttons {
    position: absolute;
    top: 423px;
    left:0;
}

.sidebar-buttons button {
    font-size: 25px;
}

.left {
    /*background: url("../img/ico-chart.png") center center no-repeat gold;*/
    background: #FFFFFF;
    display: block;
    height: 38px;
    width: 38px;
    border: 1px solid #e5e5e5;
}

.top {
    /*background: url("../img/ico-chart.png") center center no-repeat gold;*/
    background: #FFFFFF;
    display: block !important;
    height: 38px !important;
    width: 38px;
    border: 1px solid #e5e5e5;
    margin-bottom: -1px;
}

/********************** */
/*** 3. Left Sidebar ***/
/******************** */

#left-sidebar {
    position: absolute;
    width: 280px;
    height: 100%;
    background: #c1b3b8;
    display: block;
    padding: 0 40px;
}

#left-sidebar h3 {
    margin: 90px 0 16px 0;
    color: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
}

#left-sidebar p {
    margin: 0 0 12px 0;
    color: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.slideLeft {
    transform:translateX(360px);
    -moz-transform:translateX(360px);
    -ms-transform:translateX(360px);
    -webkit-transform:translateX(360px);
    -o-transform:translateX(360px);

    transition: all 1s;
    /*browser specific versions*/
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;

    opacity: 0.6;
}

.initialLeftSidebar {
    transform:translateX(-360px);
    -moz-transform:translateX(-360px);
    -ms-transform:translateX(-360px);
    -webkit-transform:translateX(-360px);
    -o-transform:translateX(-360px);

    transition: all 1s;
    /*browser specific versions*/
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.moveLeftSidebar {
     transform:translateX(0px) !important;
    -moz-transform:translateX(0px) !important;
    -ms-transform:translateX(0px) !important;
    -webkit-transform:translateX(0px) !important;
    -o-transform:translateX(0px) !important;

    transition: all 1s;
    /*browser specific versions*/
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.close-leftSidebar {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: #f6f6f6;
    background: #b7746e;
    border: 0;
    width: 60px;
    height: 60px;
    display: block;
    padding: 0;
    line-height: 20px;
    margin-top: -6px;
}

/********************* */
/*** 3.1 Statistics ***/
/******************* */

.stats-box {
    position: relative;
    display: block;
    height: 138px;
    width: 230px;
    background: #FFFFFF;
    border-bottom: 9px solid #b7746e;
    margin: 0 auto 20px auto;
}

.stats-box .bigtext {
    position: relative;
    z-index: 3;
    display: block;
    font-family: 'Open Sans', serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 80px;
    text-align: center;
    color: #434c55;
    padding: 20px 0 0 0;
}

.stats-box .text {
    font-family: 'Open Sans', serif;
    font-weight: 700;
    color: #434c55;
    position: relative;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    z-index: 3;
}

.bg-grey {
    position: absolute;
    display: block;
    height: 70px;
    width: 100%;
    background: #F6F6F6;
}

/********************* */
/*** 4. Top Sidebar ***/
/******************* */

#top-sidebar {
    position: absolute;
    width: 100%;
    height: 280px;
    background: #a2c5cf;
    display: block;
}

#top-sidebar h3 {
    margin: 60px 80px 16px 80px;
    color: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

#top-sidebar p {
    margin: 0 80px 12px 80px;
    color: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.initialTopSidebar {
    transform:translateY(-280px);
    -moz-transform:translateY(-280px);
    -ms-transform:translateY(-280px);
    -webkit-transform:translateY(-280px);
    -o-transform:translateY(-280px);

    transition: all 1s;
    /*browser specific versions*/
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.moveTopSidebar {
     transform:translateY(0px) !important;
    -moz-transform:translateY(0px) !important;
    -ms-transform:translateY(0px) !important;
    -webkit-transform:translateY(0px) !important;
    -o-transform:translateY(0px) !important;

    transition: all 1s;
    /*browser specific versions*/
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.slideTop {
    transform:translateY(280px);
    -moz-transform:translateY(280px);
    -ms-transform:translateY(280px);
    -webkit-transform:translateY(280px);
    -o-transform:translateY(280px);

    transition: all 1s;
    /*browser specific versions*/
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;

    opacity: 0.6;
}

.close-topSidebar {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: #f6f6f6;
    background: #99b0b6;
    border: 0;
    width: 60px;
    height: 60px;
    display: block;
    padding: 0;
    line-height: 20px;
    margin-top: -6px;
}

/************************ */
/*** 5. Hora container ***/
/********************** */

.hora-container-mask {
    width: 600px;
    margin: 0;
    height: 160px;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 34px;
    padding-top: 5px;
}

.hora-container {
    /* width: 10000px; */
    height: 100%;
    display: block;
}

.hora-container img {
    display: block;
    float: left;
    /*height: 240px;
    width: auto;*/
}

.color-overlay {
    background: #e9ca52;
    width: 105px;
    height: 240px;
    display: block;
    position: absolute;
}

.color-overlay span {
    font-family: 'Open Sans', serif;
    font-weight: 700;
    font-size: 13px;
    color: #425b71;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    display: block;
}

.dance-description {
    width: 580px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.dance-description h3 {
    text-align: center;
}

.dance-description .title {
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: #4c4c4c;
}

.dance-description p {
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size: 13px;
    color: #4c4c4c;
    margin: 12px 0 0 0;
    line-height: 21px;
}

/********************* */
/*** 5.1 Characters ***/
/******************* */

.participant {
    position: relative;
    display: block;
    float: left;
    height: 115px;
    width: 54px;
    overflow: hidden;

    transition: all 500ms;
    /*browser specific versions*/
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
}

.participant p {
    position: absolute;
    display: block;
    height: 115px;
    width: 54px;
    background: #ed6e6e;
    top: -232px;

    color: #FFFFFF;
    font-family: 'Open Sans', serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 36px;

    transition: all 1s;
    /*browser specific versions*/
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.participant:hover p {
    display: block;
    top: -16px;
}

.male { background: url("../img/spritehora.png") 20px -145px no-repeat transparent; }

.editor.male[data-character="1"] { background-position: 20px -145px; }
.editor.male[data-character="2"] { background-position: -84px -145px; }
.editor.male[data-character="3"] { background-position: -184px -145px; }

.current-participant.male[data-character="1"] { background-position: 0 -185px; }
.current-participant.male[data-character="2"] { background-position: -103px -185px; }
.current-participant.male[data-character="3"] { background-position: -206px -185px; }

.female { background: url("../img/spritehora.png") 20px 45px no-repeat transparent; }

.editor.female[data-character="1"] { background-position: 20px 45px; }
.editor.female[data-character="2"] { background-position: -84px 45px; }
.editor.female[data-character="3"] { background-position: -184px 45px; }

.current-participant.female[data-character="1"] { background-position: 0 8px; }
.current-participant.female[data-character="2"] { background-position: -103px 8px; }
.current-participant.female[data-character="3"] { background-position: -206px 8px; }

.newParticipant {
    margin: 0 20px;
}

.editor {
    position: relative;
    padding: 40px 20px;
    border: 1px solid #ececec;
    background-color: #f8f8f8 !important;
    display: block;
    visibility: visible;
}

/* editor */
.editor:hover p {
    display: none;
}

.gender-select {
    color: #FFFFFF;
    display: inline-block;
    height: 20px;
    width: 24px;
    padding: 4px 0 0 0;
    text-decoration: none;
    text-align: center;
}

.gender-buttons {
    position: absolute;
    top: 0;
    right: 0;
}

.save-participant {
    font-family: 'Open Sans', serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    padding: 4px 0;
}

.arrows {
    position: absolute;
    top: 45%;
    color: #000;
    text-decoration: none;
}

.next-char { right: 6px; }
.prev-char { left: 6px; }

#footer {
    height: 25px;
    width: 100%;
    display: block;
    margin: 36px 0 0 0;
}

.footer-wrapper {
    width: 610px;
    display: block;
    margin: 0 auto;
}

.hello1dece {
    font-family: 'Open Sans', serif;
    font-weight: 700;
    font-size: 9px;
    text-transform: uppercase;
    display: inline-block;
}

.hello1dece a {
    color: #ed6e6e;
    text-decoration: none;
}

.cc-wrapper {
    display: inline-block;
    margin-left: 10px;
}

.danceDown {
/*    top: 5px;

    transition: all 200ms;
    /*browser specific versions*/
    /*-moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;*/

    -moz-animation-name: dance;
    -moz-animation-iteration-count: 2;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1.8s;

    -webkit-animation-name: dance;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1.8s;
}

@-moz-keyframes dance {
    0% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);
    }
    15% {
        transform:translateY(5px);
        -moz-transform:translateY(5px);
        -ms-transform:translateY(5px);
        -webkit-transform:translateY(5px);
        -o-transform:translateY(5px);
    }
    35% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    50% {
        transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -ms-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -o-transform:translateY(-5px);
    }
    75% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    100% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);

        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
}
@-webkit-keyframes dance {
    0% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);
    }
    15% {
        transform:translateY(5px);
        -moz-transform:translateY(5px);
        -ms-transform:translateY(5px);
        -webkit-transform:translateY(5px);
        -o-transform:translateY(5px);
    }
    35% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    50% {
        transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -ms-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -o-transform:translateY(-5px);
    }
    75% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    100% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);

        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
}

.danceDown2 {
    -moz-animation-name: dance-down-second;
    -moz-animation-iteration-count: 5;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1s;

    -webkit-animation-name: dance-down-second;
    -webkit-animation-iteration-count: 5;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;
}

@-moz-keyframes dance-down-second {
    0% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);
    }
    15% {
        transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -ms-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -o-transform:translateY(-5px);
    }
    30% {
        transform:translateY(5px);
        -moz-transform:translateY(5px);
        -ms-transform:translateY(5px);
        -webkit-transform:translateY(5px);
        -o-transform:translateY(5px);
    }
    50% {
        transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -ms-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -o-transform:translateY(-5px);
    }
    75% {
        transform:translateY(5px);
        -moz-transform:translateY(5px);
        -ms-transform:translateY(5px);
        -webkit-transform:translateY(5px);
        -o-transform:translateY(5px);
    }
    100% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);
    }
}
@-webkit-keyframes dance-down-second {
    0% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);
    }
    15% {
        transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -ms-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -o-transform:translateY(-5px);
    }
    30% {
        transform:translateY(5px);
        -moz-transform:translateY(5px);
        -ms-transform:translateY(5px);
        -webkit-transform:translateY(5px);
        -o-transform:translateY(5px);
    }
    50% {
        transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -ms-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -o-transform:translateY(-5px);
    }
    75% {
        transform:translateY(5px);
        -moz-transform:translateY(5px);
        -ms-transform:translateY(5px);
        -webkit-transform:translateY(5px);
        -o-transform:translateY(5px);
    }
    100% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);
    }
}

.danceUp {

    -moz-animation-name: dance-two;
    -moz-animation-iteration-count: 2;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1.8s;
    -moz-animation-delay: 3.8s;

    -webkit-animation-name: dance-two;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1.8s;
    -webkit-animation-delay: 3.8s;
}

@-moz-keyframes dance-two {
    0% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);
    }
    15% {
        transform:translateY(5px);
        -moz-transform:translateY(5px);
        -ms-transform:translateY(5px);
        -webkit-transform:translateY(5px);
        -o-transform:translateY(5px);
    }
    35% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    50% {
        transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -ms-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -o-transform:translateY(-5px);
    }
    75% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    100% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);

        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
}
@-webkit-keyframes dance-two {
    0% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);
    }
    15% {
        transform:translateY(5px);
        -moz-transform:translateY(5px);
        -ms-transform:translateY(5px);
        -webkit-transform:translateY(5px);
        -o-transform:translateY(5px);
    }
    35% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    50% {
        transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -ms-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -o-transform:translateY(-5px);
    }
    75% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    100% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);

        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
}

.danceUp2 {
    -moz-animation-name: dance-up-second;
    -moz-animation-iteration-count: 5;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1s;

    -webkit-animation-name: dance-up-second;
    -webkit-animation-iteration-count: 5;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;
}

@-moz-keyframes dance-up-second {
    0% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);
    }
    15% {
        transform:translateY(5px);
        -moz-transform:translateY(5px);
        -ms-transform:translateY(5px);
        -webkit-transform:translateY(5px);
        -o-transform:translateY(5px);
    }
    30% {
        transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -ms-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -o-transform:translateY(-5px);
    }
    50% {
        transform:translateY(5px);
        -moz-transform:translateY(5px);
        -ms-transform:translateY(5px);
        -webkit-transform:translateY(5px);
        -o-transform:translateY(5px);
    }
    75% {
        transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -ms-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -o-transform:translateY(-5px);
    }
    100% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);
    }
}
@-webkit-keyframes dance-up-second {
    0% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);
    }
    15% {
        transform:translateY(5px);
        -moz-transform:translateY(5px);
        -ms-transform:translateY(5px);
        -webkit-transform:translateY(5px);
        -o-transform:translateY(5px);
    }
    30% {
        transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -ms-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -o-transform:translateY(-5px);
    }
    50% {
        transform:translateY(5px);
        -moz-transform:translateY(5px);
        -ms-transform:translateY(5px);
        -webkit-transform:translateY(5px);
        -o-transform:translateY(5px);
    }
    75% {
        transform:translateY(-5px);
        -moz-transform:translateY(-5px);
        -ms-transform:translateY(-5px);
        -webkit-transform:translateY(-5px);
        -o-transform:translateY(-5px);
    }
    100% {
        transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        -o-transform:translateY(0);
    }
}


.joined-hora {
    background: #1db344;
    position: relative;
    display: inline-block;
    padding: 18px 46px;
}